/* Modify existing styles for the navigation and links */
#Navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3em;
  padding-top: 2ch;
  list-style-type: none;
}

a:hover {
  opacity: 0.5;
}

#Navigation li {
  position: sticky;
  top: 0;
  scroll-padding-top: 2ch;
  background-color: lightgray;
  color: black;
  display: block;
  text-align: center; /* Center the text */
  padding: 15px;
}

/* Add styles for other sections */
#About {
  display: grid;
  text-align: center; /* Center the text */
  gap: 20px;
}

#name {
  font-family: "Montserrat", cursive;
  font-size: 5rem;
  text-align: center; /* Center the text */
}

h2 {
  font-weight: bold;
  font-size: 2em;
  text-align: center; /* Center the text */
}

#profile-picture {
  border-radius: 50%;
  margin: 1em auto; /* Center horizontally */
  width: 15%;
  border-color: black;
  padding: 0.5em;
  border-width: 0.5dvi;
  border-style: solid;
}

#Experience {
  display: grid;
  text-align: center; /* Center the text */
  gap: 20px;
}

.job {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 0px;
}

.job h3 {
  flex: 1;
  padding: none;
  text-align: center; /* Center the text */
}

.dates {
  order: 2;
  text-align: center; /* Center the text */
}

.description {
  order: 3;
  word-wrap: break-word;
  text-align: center; /* Center the text */
}

/* Style for the Connect section */
li {
  padding: 10px;
  display: inline-flex;
  background-color: lightgray;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-right: 60px;
  text-align: center; /* Center the text */
}

.social-icon {
  margin: 0 10px;
  font-size: 32px;
}

/* Add styles for text boxes */
input[type="text"],
input[type="email"],
textarea {
  /* Change background and text color of text boxes */
  background-color: lightgray;
  color: black;
  /* Add padding and border */
  padding: 5px;
  border: 1px solid black;
  text-align: center; /* Center the text */
}

body {
  height: 100vh;
  background-color: lightgray;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; /* Center the text */
}

/* Media query for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Change font size and color of headers */
  h1,
  h2,
  h3 {
    font-size: 24px; /* Decrease font size */
    color: whitesmoke; /* Change text color */
    text-align: center; /* Center the text */
  }

  /* Change padding and background color of unordered lists */
  ul {
    padding: 10px; /* Increase padding */
    background-color: darkgray; /* Change background color */
  }

  /* Change font size and font style of top name */
  #name {
    font-size: 36px; /* Increase font size */
    font-style: italic; /* Apply italic font style */
    text-align: center; /* Center the text */
  }
}

/* Media query for larger screens */
@media (min-width: 1025px) {
  /* Change font size and color of headers */
  h1,
  h2,
  h3 {
    font-size: 32px; /* Increase font size */
    color: black; /* Adjust text color */
    text-align: center; /* Center the text */
  }

  /* Change padding and background color of unordered lists */
  ul {
    padding: 15px; /* Increase padding further */
    background-color: lightgray /* Lighter background color */
  }

  /* Change font size and font weight of top name */
  #name {
    font-size: 48px; /* Increase font size further */
    font-weight: bold; /* Apply bold font weight */
    text-align: center; /* Center the text */
  }
}
